This file contains code for loading data (from Quotebank) and storing the filtered data as json-files that can be loaded in the other notebook where all the analysis is made.

The approach presented here has the following structure: <br>


*   From Quotebank, per year, only load data with a domain containing 'uk' and where the speaker is not 'None'. Save this as X.json.gz to drive.
*   Load the X.json.gz and filter it again based on our 12 chosen newspapers. Add the newspapers to a column. Save as X-filtered.json.gz.


The reason for not having these two steps as one is to be able to change things, e.g. change or add more newspapers without having to re-load from quotebank. 

Drawbacks and TODO!

*   Only loading the 'uk' domains potentially miss UK-quotes. E.g. the count for BBC quotes seem suspiciously low. We are missing the bbc.com/news/uk for example (.co.uk seems to be used when in UK, .com/news/uk when outside? Both are present in the dataset). 
*   At the moment none of the 'speaker = None' quotes are used. When focusing on topics of quotes, this might still contain interesting information.
*   It is possible to load one year into one dataframe, but each yearly-dataframe become very large. Will look into another approach.

In [ ]:
import bz2
import json
import pandas as pd
import numpy as np

!pip install tld
from tld import get_tld

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
PATH_TO_DATA = '/content/drive/MyDrive/ADAMilestone2/Data/'

Filter the total data set with a UK domain and None speakers. The filtered data is then stored.

In [ ]:
YEAR = 2019
path_to_file = PATH_TO_DATA + f'Quotebank/quotes-{YEAR}.json.bz2' 
path_to_out = PATH_TO_DATA + f'quotes-{YEAR}-UK.json.bz2'

def get_domain(url):
    res = get_tld(url, as_object=True)
    return res.tld
    
with bz2.open(path_to_file, 'rb') as s_file:
    with bz2.open(path_to_out, 'wb') as d_file:
        for index, instance in enumerate(s_file):
            instance = json.loads(instance) 
            if instance['speaker'] != "None":
                urls = instance['urls'] 
                domains = []
                for url in urls:
                    tld = get_domain(url)
                    domains.append(tld)
                if any("uk" in domain for domain in domains):
                    #instance['domains'] = domains
                    d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

Read the stored data, create a dataframe, visualize a few samples

In [ ]:
chosen_news = ['.thesun.', '.dailymail.', '.metro.', 
               '.thetimes.', '.standard.', '.mirror.', 
               '.telegraph.', '.bbc.', '.independent.',
               '.theguardian.', '.sky.', 'itv.']

In [ ]:
YEAR = 2019
path_to_file = PATH_TO_DATA + f'quotes-{YEAR}-UK.json.bz2'
path_to_out = PATH_TO_DATA + f'quotes-{YEAR}-UK-filtered.json.bz2'

def get_domain(url):
    res = get_tld(url, as_object=True)
    return res.tld
    
with bz2.open(path_to_file, 'rb') as s_file:
    with bz2.open(path_to_out, 'wb') as d_file:
        for index, instance in enumerate(s_file):
            instance = json.loads(instance) 
            urls = instance['urls'] 
            newspapers = []
            for i in range(len(chosen_news)):
                if any(chosen_news[i] in url for url in urls):
                    newspapers.append(chosen_news[i].split('.')[1])
            if len(newspapers) > 0:
                instance['newspapers'] = newspapers
                d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

In [ ]:
path_to_out

'/content/drive/MyDrive/ADAMilestone2/Data/quotes-2019-UK-filtered.json.bz2'

In [63]:
df = pd.read_json(path_to_out, lines=True, compression='bz2')
print(len(df))
df.sample(5)

517880

                  quoteID  ...        newspapers
283170  2019-01-04-028730  ...             [bbc]
384851  2019-12-04-045289  ...        [standard]
334313  2019-04-29-056728  ...          [thesun]
47281   2019-03-24-027729  ...  [thesun, mirror]
242660  2019-02-05-083676  ...        [standard]

[5 rows x 10 columns]